<div class="haikei">
<div class="container row mt-5 ml-5">
    <div class="col-md-12">
     <h4 class="new">
       ログイン
     </h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<table>
 <tr>
   <td>
     <%= f.label :email %>
   </td>
   <td>
     <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
   </td>
 </tr>
 <tr>
   <td>
     <%= f.label :password %>
   </td>
   <td>
     <%= f.password_field :password, autocomplete: "current-password" %>
   </td>
 </tr>
 <tr>
   <td>
     <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  </td>
 </tr>
 <tr>
   <td class="actions">
    <%= f.submit "Log in", class: "push" %>
   </td>
 </tr>
<% end %>
</table>
</div>
</div> 
</div>