<div class = "container">
<div class = "row">
  
<h2>注文情報入力</h2>
    <%= form_for @order, local: true, url: orders_confirm_path do |f| %>
    <!--４行目、confirm_path以降の記述 Postでviewに飛べるか確認したら , method: :post-->

<h4 class = "mt-5 mx-auto"><strong>支払方法</strong></h4>
      <%= f.radio_button :payment_method, "credit_card",checked: "checked" %>
      <%= f.label :payment_method, "クレジットカード" %>
      
      <%= f.radio_button  :payment_method,"transfer" %>
      <%= f.label :payment_method, "銀行振込" %>
<h4 class = "mt-3"><strong>お届け先</strong></h4>
<!--ご自身の住所-->
      <%= radio_button_tag :address_number, 1, checked: "checked" %>
      <%= label_tag :address_number, "ご自身の住所" %></br>
          〒<%= current_customer.postal_code %>
          <%= current_customer.address %></br>
          <%= current_customer.first_name %>
          <%= current_customer.last_name %></br>
<!--登録済み住所から選択-->
      <%= radio_button_tag :address_number, 2 %>
      <%= label_tag :address_number, "登録済み住所から選択" %></br>
          <%= f.collection_select(:id,@addresses, :id, :address_info) %></br>
 <!--新しいお届け先     -->
      <%= radio_button_tag :address_number, 3 %>
      <%= label_tag :address_number, "新しいお届け先" %></br>
          <%= f.label :postal_code, "郵便番号" %>
          <%= f.text_field :postal_code %></br>
          <%= f.label :address, "住所" %>
          <%= f.text_field :address %></br>
          <%= f.label :name, "宛名" %>
          <%= f.text_field :name %></br>
      
      <%= f.submit "確認画面へ進む",class: "btn btn-large btn-primary" %>
    <% end %>
</div>
</div>
