<div class = "container">
<div style="width: 800px; margin:0 auto;">
<div class = "row">
  
<h2>注文情報入力</h2>
    <%= form_for @order, local: true, url: orders_confirm_path do |f| %>
    <!--４行目、confirm_path以降の記述 Postでviewに飛べるか確認したら , method: :post-->

<h4 class = "mt-5 mx-auto"><strong>支払方法</strong></h4>
      <p class = "bg-light">
      <%= f.radio_button :payment_method, "credit_card",checked: "checked" %>
      <%= f.label :payment_method, "クレジットカード" %>
      
      <%= f.radio_button  :payment_method,"transfer" %>
      <%= f.label :payment_method, "銀行振込" %>
      </p>
<h4 class = "mt-3"><strong>お届け先</strong></h4>
<!--ご自身の住所-->
      <p class = "bg-light">
      <%= radio_button_tag :address_number, 1, checked: "checked" %>
      <%= label_tag :address_number, "ご自身の住所" %>
      </p>
          〒<%= current_customer.postal_code %>
          <%= current_customer.address %></br>
          <%= current_customer.last_name %>
          <%= current_customer.first_name %></br>
          <p></p>
          <p></p>
<!--登録済み住所から選択-->
      <p class = "bg-light">
      <%= radio_button_tag :address_number, 2 %>
      <%= label_tag :address_number, "登録済み住所から選択" %>
      </p>
          <%= f.collection_select(:id,@addresses, :id, :address_info) %></br>
          <p></p>
          <p></p>
 <!--新しいお届け先     -->
      <p class = "bg-light">
      <%= radio_button_tag :address_number, 3 %>
      <%= label_tag :address_number, "新しいお届け先" %></br>
      </p>
          <div>
          <%= f.label :postal_code, "郵便番号" %>
          </div>
          <%= f.text_field :postal_code ,placeholder: "郵便番号"%></br>
          <div>
          <%= f.label :address, "住所" %>
          </div>
          <%= f.text_field :address,size: "60",placeholder: "住所" %></br>
          <div>
          <%= f.label :name, "宛名" %>
          </div>
          <%= f.text_field :name,placeholder: "宛名" %></br>
      
      <div class = "col-md-6 mx-auto" style = "margin-top:10px; "><%= f.submit "確認画面へ進む",class: "btn btn-large btn-primary" %></div>
    <% end %>
</div>
</div>
</div>